extends layout

block content

   style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h2, h3, p , a, .ui.button{
    
    font-family: 'Nunito', sans-serif; 

    }


        #map {
     position:relative;
     height:400px;
    }   


 
    #placemap{
     
     position:relative;  
     border-color:rgb(240 240 241);
     border-style:solid;
     border-width:1px;
     width:100%;
   
    } 


    
   script(src="https://maps.googleapis.com/maps/api/js?key=" + keyapi + "&libraries=places&callback=initAutocomplete"  async defer)
   script(src='/javascripts/mapsapi-places.js')
   script(src='/javascripts/jquery-company.settings.js') 
   script.
   
   
    $(document).ready(function(){


        
     
  
      var id = '#{company._id}';
 
       var productArray =[];   
       
       var i = 0;

       var descripcion ="";
       var moreinfo="";
       var callenueva="";
       var numnuevo="";
       var newphone ="";
       var newweb = "";

     ///////////////////Populate Fields//////////////////////////////////////////////7 
     $.get('/company/profile/json/'+ id , (data,status)=>{
     console.log(data);

      var name =    data.nombre  
      var  pais    = data.pais
      var state =   data.estado
      var city =    data.ciudad 
      var calle =  data.calle
      var num =    data.numero
      var phone = data.telefono
      var web  = data.web
      var description = data.description
      var more_info = data.masinformacion
      var  address = city + "," + " " + state + "," + " "   + pais
      productArray = data.productos;
    
     

        $('#title').text(name)

        $('#modify_description').val(description);
        $('#modify_moreinfo').val(more_info);

       
            for(i=0;i<productArray.length;i++){
         
 
             $("#list").append('<div class="ui segment id="'+i+'" "><div class="ui three column grid"><div class="column"><p class="product">'+ productArray[i].producto + '</p></div><div class="column"><p>' + productArray[i].descripcion + '</p></div><div class="column"> <button  class="ui fluid button red" id="remove" >Eliminar</button></div></div></div>');
         

             }  

                 console.log(productArray);
    
            });
  
           //////////////////////////////////////////////////Add products///////////////////////////
                        $("#add").click((e)=>{

                                e.preventDefault();

                               var product = $("#proditem").val();
                               var description = $("#descripcion").val();
                               
      j                         

                               item = {producto:product, descripcion:description}
 
                               productArray.push(item); 

                               var row = '<div class="ui segment id="'+i+'" "><div class="ui stackable three column grid"><div class="column"><p class="product">'+ productArray[i].producto + '</p></div><div class="column"><p>' + productArray[i].descripcion + '</p></div><div class="column"> <button  class="ui button red" id="remove" >Eliminar</button></div></div></div>'  

                                  $("#list").append(row);

                                  i++;

                                 console.log(productArray); 

                                
    
                    });

           //////////////////////////////////////////////////Delete///////////////////////

                $("#list").on("click","button" ,function(e){

                               /// Para que no haga post//////
                   e.preventDefault();                
      
                  $(this).parent().parent().parent().fadeOut(1000).remove(1000);
      
                  var text = $(this).parent().parent().find("p.product").text();
  
                    var element = text.toString();


                    for( j = 0 ; j < productArray.length ; j++){
  
                       if(productArray[j].producto===element){
          
                        productArray.splice(j,1);
 
                              }

                           } 


                   console.log(productArray);

                  });

     //////////////////////////////Modificaci贸n de entradas/////////////////////////////////////////

      ////////////////// Solo capturar el dato si cambian ///////////////////////////////////////////
  
           $("#modify_description").change(()=>{
            descripcion = $("#modify_description").val();
           });

          
           $("#modify_moreinfo").change(()=>{
            moreinfo = $("#modify_moreinfo").val();
           });




      /****************************************************************************************************
                                     Modificaci贸n de la primera pesta帽a

      *****************************************************************************************************/


      

           $("#companyname").submit((event)=>{
       
           event.preventDefault();

          var description = $("#modify_description").val();
          var moreinfo = $("#modify_moreinfo").val();


         


         $.post('/company/settings/profile/'+ id ,{products : productArray,description:descripcion,moreinfo:moreinfo})

        


          $('#example').progress({ percent: 100  });

     
             

            setTimeout( ()=>{ $("#example").load('/company/settings/profile/' + id +' #example' ) }, 500);   
    

    })
                     
  

    /*******************************************************************************************************
                           Modificar cambios segunda pesta帽a
    ******************************************************************************************************/


         $("#contactdata").submit((event)=>{

           event.preventDefault();



           var num = $("#street_number").val();

           var calle = $("#route").val();

           var ciudad = $("#locality").val();

           var  estado = $("#administrative_area_level_1").val();

           var  zipcode = $("#postal_code").val();

           var  pais  =  $("#country").val();

           var latitud  = $("#latitud").val();

           var longitud = $("#longitud").val();


           console.log(num + " " + calle + " " + ciudad + " " + estado + " " + zipcode + " " + pais);

          
          $.post('/company/settings/profile/' + id , {num:num, calle:calle, zipcode:zipcode ,ciudad:ciudad, estado:estado, longitud:longitud, latitud:latitud  })



           $('#example').progress({percent: 100  }); 
             
             setTimeout( ()=>{ $("#example").load('/company/settings/profile/' + id +' #example' ) }, 500);   
                  


         });
             
        

    });

  

   div.ui.container
     div.ui.segment 
      h1.textcenter#title
      h2.textcenter Configuraci贸n
    
     div.ui.segment
      div.ui.stackable.top.attached.tabular.menu
       a.item.active(data-tab="first") Informaci贸n General  
       a.item(data-tab="second") Ubicaci贸n y contacto
   

     div.ui.bottom.attached.tab.segment.active(data-tab="first")
      div.ui.container
        
      div.ui.segment
       form.ui.form(id="companyname", method="post", action="") 
       
           
   
         
         div.field 
          h2  Editar Descripci贸n
          input(type=text, name="description" id="modify_description"  maxlength="80") 
          
          h2 Editar M谩s Informaci贸n
          input(type=text, name="description" id="modify_moreinfo"  maxlength="80") 
   
            
   
          h2.textcenter Editar Productos
          div.ui.segment#products
            
   
               div.ui.stackable.three.column.grid#entrada
                div.column
                  h4 Producto
                  input(id="proditem" name="proditem"  )
                div.column
                  h4 Descripci贸n
                  input(id="descripcion" name="descripcion")
                div.column
                   h4
                   br 
   
                   button.ui.fluid.button.blue#add Agregar
                    
          div.ui.container#list      
                   
          div.field 
          button.ui.button.green(type="submit") Guardar  
   
          a(href='/users/profile/' class="button ui button blue") Cancelar    
     
     div.ui.bottom.attached.tab.segment(data-tab="second")
      div.ui.container
       div.ui.segment  
        
        form.ui.form(id="contactdata",name="contactdata" action="")
          h1 Ubicaci贸n 
          div.ui.segment
            div.ui.doubling.stackable.two.column.grid
             div.column
              h3.textcenter Direcci贸n
              div#locationField
               label(for="companyname") Ubicaci贸n* 
               input(type="text"  name="companyname" id="autocomplete"  placeholder="Enter your address" onFocus= "geolocate()" )
               label(for="street_number") N煤mero de calle
               input#street_number.field(disabled='true')
               label(for="route.field") Calle
               input#route.field(disabled ='true')
               label(for="locality.field") Ciudad
               input#locality.field(type="text" name="city" disabled ='true') 
               label() Estado
               input#administrative_area_level_1.field(disabled='true')
               label(for="postal_code.field") C贸digo postal
               input#postal_code.field(disabled ='true')
               label(for="") Pa铆s
               input#country.field(disabled ='true')
               div.ui.segment
                label(for="phone") Tel茅fono  
                input.field#phone(maxlength="10")
 

            
             div.column
              h3.textcenter Mapas 
              div#placemap
               div#map(height="70%")   
              label() Latitud
              input#latitud(disabled='true')
              label() Longitud
              input#longitud(disabled='true')  
          
          div.ui.container
           div.field 
           button.ui.button.green(type="submit") Guardar     
           a(href='/users/profile/' class="button ui button blue") Cancelar   
   div.ui.progress#example
     div.bar
      div.progress           