extends layout


block content
 script(src="https://maps.googleapis.com/maps/api/js?key=" + keyapi + "&libraries=places&callback=initAutocomplete"  async defer)


 script(src='/javascripts/jquery-company.js')
 script(src='/javascripts/mapsapi-places.js')   




 style.
   
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }

    #map {
     position:relative;
     height:400px;
    }   


 
    #placemap{
     
     position:relative;  
     border-color:rgb(240 240 241);
     border-style:solid;
     border-width:1px;
     width:100%;
   
    } 


   h1 {
 
      text-align:center;
   }	

   #products {
   border:
    background-color:red;
   }

 div.ui.container
  h1  ACERCA DE LA EMPRESA	
  div.ui.segment
 

     form.ui.form(id="companyname", method="post", action="/company/new/")
         div.field
           label(for="companyname") Nombre del empresa*	
           input(type="text"  name="companyname" id="nameofcompany")
           label(for="description") Breve Descripción de la empresa
           input(type=text, name="description" id="description" maxlength="80") 
         div.field 
       
      




    
         div.field
        



         div#locationField
          label(for="companyname") Ubicación* 
          input(type="text"  name="companyname" id="autocomplete"  placeholder="Enter your address" onFocus= "geolocate()" )
         div.field 
       
          table#address
           tbody
             tr
             tr
               td.label Street address
               td.slimField
                 input#street_number.field(disabled='true')
               td.wideField(colspan='2')
                input#route.field(disabled ='true')
               td( width="60%" colspan='11' rowspan='11')
                div#placemap
                 h3.textcenter(height="30%" ) Con el marcador, Indique el lugar exacto del domicilio 
                 div#map(height="70%")
                
                

             tr
               td.label Ciudad
               td.wideField(colspan='3')
                 input#locality.field(type="text" name="city" disabled ='true')
             tr
               td.label Estado
               td.slimField
                 input#administrative_area_level_1.field(disabled='true')
               td.label Zip code
               td.wideField
                 input#postal_code.field(disabled ='true')
             tr
               td.label País
               td.wideField(colspan='3')
                 input#country.field(disabled ='true')

             tr
               td.label Teléfono
               td.wideField(colspan='3')
                 input.field#phone(maxlength="10")

              
             tr
               td.label Sitio Web
               td.wideField(colspan='3')
                 input.field#website(maxlength="18")  

             tr
               td.label Latitud    
               td.wideField(colspan='3')
                 input#latitud(disabled='true') 

             tr
               td.label Longitud    
               td.wideField(colspan='3')
                 input#longitud(disabled='true')                  

         div.field
            
        

         div.field
          div.ui.segment
           div.ui.doubling.stackable.two.column.grid  
            div.column 
              br 
              h2 Industria
              select.ui.dropdown#industry(name="industry")
               option(value="") 
               option(value="automotriz") Automotríz
               option(value="agroindustria") Agroindustria
               option(value="alimenticia-bebidas-tabaco") Alimenticia, Bebidas y Tabaco
               option(value="maquinaria-componentes-instrumentos") Maquinaria, Instrumentos y Componentes
              br
              br
               
              select.ui.dropdown#subindustry(name="subindustry")  
              br
              br
            div.column
              br
              h2 Certificaciones
              select.ui.fluid.dropdown#badge(multiple="" name="badge")  

         div.field 
          h2.textcenter  Más información
          div.ui.segment 
           textarea(type="text" name="masinfo" id="masinfo")  

          h2.textcenter Productos
         div.ui.segment#products
        

           div.ui.three.column.grid#entrada
            div.column
              h4 Producto
              input(id="proditem" name="proditem" maxlength="20"  required )
            div.column
              h4 Descripción
              input(id="descripcion" name="descripcion" maxlength="40" required )
            div.column
               h4
               br 

               button.ui.button.blue#add Agregar
                
         div.ui.segment#list      
               
         div.field 
               
         button.ui.button.green(type="submit") Guardar
         a(href="/users/profile" class=" ui blue button" ) Cancelar


           