extends layout

block content

   style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h2, h3, p , a, .ui.button{
    
    font-family: 'Nunito', sans-serif; 

    }

    

   script(src='/javascripts/mapsapi-profile.js')
   script(src='/javascripts/jquery-company.settings.js') 
   script.
   
   
    $(document).ready(function(){


        
     
  
      var id = '#{company._id}';
 
       var productArray =[];   
       
       var i = 0;

       var descripcion ="";
       var moreinfo="";
       var callenueva="";
       var numnuevo="";
       var newphone ="";
       var newweb = "";

     ///////////////////Populate Fields//////////////////////////////////////////////7 
     $.get('/company/profile/json/'+ id , (data,status)=>{
     console.log(data);

      var name =    data.nombre  
      var  pais    = data.pais
      var state =   data.estado
      var city =    data.ciudad 
      var calle =  data.calle
      var num =    data.numero
      var phone = data.telefono
      var web  = data.web
      var description = data.description
      var more_info = data.masinformacion
      var  address = city + "," + " " + state + "," + " "   + pais
      productArray = data.productos;
    
     

        $('#title').text(name)
        $('#addressw').text(address)
        $('#addressx').text(calle)

        $('#modify_description').val(description);
        $('#modify_moreinfo').val(more_info);
        $("#modify_street").val(calle);
        $("#modify_number").val(num);
        $("#modify_phone").val(phone);
        $("#modify_web").val(web);

       
            for(i=0;i<productArray.length;i++){
         
 
             $("#list").append('<div class="ui segment id="'+i+'" "><div class="ui three column grid"><div class="column"><p class="product">'+ productArray[i].producto + '</p></div><div class="column"><p>' + productArray[i].descripcion + '</p></div><div class="column"> <button  class="ui fluid button red" id="remove" >Eliminar</button></div></div></div>');
         

             }  

                 console.log(productArray);
    
            });
  
           //////////////////////////////////////////////////Add products///////////////////////////
                        $("#add").click((e)=>{

                                e.preventDefault();

                               var product = $("#proditem").val();
                               var description = $("#descripcion").val();
                               
      j                         

                               item = {producto:product, descripcion:description}
 
                               productArray.push(item); 

                               var row = '<div class="ui segment id="'+i+'" "><div class="ui stackable three column grid"><div class="column"><p class="product">'+ productArray[i].producto + '</p></div><div class="column"><p>' + productArray[i].descripcion + '</p></div><div class="column"> <button  class="ui button red" id="remove" >Eliminar</button></div></div></div>'  

                                  $("#list").append(row);

                                  i++;

                                 console.log(productArray); 

                                
    
                    });

           //////////////////////////////////////////////////Delete///////////////////////

                $("#list").on("click","button" ,function(e){

                               /// Para que no haga post//////
                   e.preventDefault();                
      
                  $(this).parent().parent().parent().fadeOut(1000).remove(1000);
      
                  var text = $(this).parent().parent().find("p.product").text();
  
                    var element = text.toString();


                    for( j = 0 ; j < productArray.length ; j++){
  
                       if(productArray[j].producto===element){
          
                        productArray.splice(j,1);
 
                              }

                           } 


                   console.log(productArray);

                  });

     //////////////////////////////Modificaci贸n de entradas/////////////////////////////////////////

      ////////////////// Solo capturar el dato si cambian ///////////////////////////////////////////
  
           $("#modify_description").change(()=>{
            descripcion = $("#modify_description").val();
           });

          
           $("#modify_moreinfo").change(()=>{
            moreinfo = $("#modify_moreinfo").val();
           });



            $("#modify_street").change(()=>{
            callenueva  = $("#modify_street").val();
           });


             $("#modify_number").change(()=>{
             numnuevo  = $("#modify_number").val();
           });



             $("#modify_phone").change(()=>{
               newphone = $("#modify_phone").val();  

             });

               $("#modify_web").change(()=>{
               newweb = $("#modify_web").val();  

             console.log(web);

             });


      //////////////////////////////////////////Postear los cambios primera pesta帽a///////////////////                

           $("#companyname").submit((event)=>{
       
           event.preventDefault();

          //var description = $("#modify_description").val();
          //var moreinfo = $("#modify_moreinfo").val();


         


         $.post('/company/settings/profile/'+ id ,{products : productArray,description:descripcion,moreinfo:moreinfo})

        


          $('#example').progress({ percent: 100  });

     
             

            setTimeout( ()=>{ $("#example").load('/company/settings/profile/' + id +' #example' ) }, 500);   
    

    })
                     
    ////////////////////////////////////////////////////////////Poster cambios segunda pesta帽a/////////////////


         $("#contactdata").submit((event)=>{

           event.preventDefault();

          
          $.post('/company/settings/profile/'+ id,{calle:callenueva,num:numnuevo, tel:newphone, web:newweb});  

           $('#example').progress({percent: 100  }); 
             
             setTimeout( ()=>{ $("#example").load('/company/settings/profile/' + id +' #example' ) }, 500);   
                  


         });
             
        

    });

  

   div.ui.container
     div.ui.segment 
      h1.textcenter#title
      h2.textcenter Configuraci贸n
    
     div.ui.segment
      div.ui.stackable.top.attached.tabular.menu
       a.item.active(data-tab="first") Informaci贸n General  
       a.item(data-tab="second") Ubicaci贸n y contacto
   

     div.ui.bottom.attached.tab.segment.active(data-tab="first")
      div.ui.container
        
      div.ui.segment
       form.ui.form(id="companyname", method="post", action="") 
       
           
   
         
         div.field 
          h2  Editar Descripci贸n
          input(type=text, name="description" id="modify_description"  maxlength="80") 
          
          h2 Editar M谩s Informaci贸n
          input(type=text, name="description" id="modify_moreinfo"  maxlength="80") 
   
            
   
          h2.textcenter Editar Productos
          div.ui.segment#products
            
   
               div.ui.stackable.three.column.grid#entrada
                div.column
                  h4 Producto
                  input(id="proditem" name="proditem"  )
                div.column
                  h4 Descripci贸n
                  input(id="descripcion" name="descripcion")
                div.column
                   h4
                   br 
   
                   button.ui.fluid.button.blue#add Agregar
                    
          div.ui.container#list      
                   
          div.field 
          button.ui.button.green(type="submit") Guardar  
   
          a(href='/users/profile/' class="button ui button blue") Cancelar    
     
     div.ui.bottom.attached.tab.segment(data-tab="second")
      div.ui.container
       div.ui.segment  
        
        form.ui.form(id="contactdata",name="contactdata" action="")
          h1 Ubicaci贸n 
          div.ui.two.column.stackable.grid  
           div.column
            label(for="street") Calle
            input(type="text" id="modify_street" name="street")
           div.column
            label(for="number") N煤mero
            input(type="text" id="modify_number" name="number")
          h1 Contacto
          div.ui.two.column.stackable.grid
           div.column
            label(for="phone") Tel茅fono
            input(type="text" id="modify_phone" name="phone") 
           div.column 
            label(for="web") Sitio web
            input(type="text" id="modify_web" name="web")

        
          
          div.ui.container
           div.field 
           button.ui.button.green(type="submit") Guardar     
           a(href='/users/profile/' class="button ui button blue") Cancelar   
   div.ui.progress#example
     div.bar
      div.progress           