

extends layout

block content
 style.
  #post{
   min-height:6em;
   height: 6em;
  }

 script.
   
  $(document).ready(()=>{
    
    var creator ;
    var email ;
    var id = '#{company._id}'
    var owner = '#{owner}'
	           
     console.log(owner);

      $.get('/company/profile/json/'+ id , (data,status)=>{

     var name =    data.nombre 
     var industry = data.industria
     var subindustry = data.subindustry  
     var  pais   = data.pais
     var  state =   data.estado
     var  city =    data.ciudad 
     var  calle =  data.calle
     var  numero = data.numero
     var  telefono = data.telefono
     var  website = data.web
     var  description = data.description
     var  badges = data.certificados

     var  street = data.calle + " " + "#" + " " + data.numero
     var  address = city + "," + " " + state 
     var Array = data.productos;


       
        $('#title').text(name) 
        $('#addressw').text(address)
        $('#addressx').text(street)
        $('#industry').text(industry)
        $('#country').text(pais)
        $('#phone').text(telefono)
        $('#description').text(description)
        $('#web').text(website)


        for(i=0;i<Array.length;i++){
         
        $("#productlist").append('<tr><td>' + Array[i].producto + '</td><td>'+  Array[i].descripcion +'</td></tr>');

                                }  

    
                  });

    
            
              $("#update").submit((event)=>{
                    event.preventDefault();

                    

             })

         


       })




 div.ui.doubling.stackable.container
  div.ui.segment
   div.ui.three.column.doubing.stackable.grid
  
    div.column
       
       
       h2#title.textcenter 
       h3.textcenter  #{company.pais}  
       h3.textcenter Direcci贸n 
       p.textcenter#addressx
       p.textcenter#addressw 
       h3.textcenter Tel茅fono  
       p.textcenter#phone

    div.column 
       
      h3.textcenter Sitio web 
      p.textcenter#web  
    div.column
    

 div.ui.segment
  div.ui.segment  
    h2.textcenter Descripci贸n
    p.textcenter#description
  div.ui.segment
    button.ui.button.blue Mensaje 
    button.ui.button.green Seguir 


 

  div.ui.stackable.top.attached.tabular.menu
     a.item.active(data-tab="first") Actualizaciones  
     a.item(data-tab="second") Productos 
     a.item(data-tab="third") Anuncios 
     a.item(data-tab="fourth") M谩s Informaci贸n  

  div.ui.bottom.attached.tab.segment.active(data-tab="first")
      
    h1.textcenter Actualizaciones
    if owner
      div.ui.segment  
        form.ui.form(id="updates") 
         textarea(type="text" name="post" id="post" )
         br    
         br
         button.fluid.ui.button.green(type="submit") Guardar 


  div.ui.bottom.attached.tab.segment(data-tab="second")
   div.ui.segment
     h1.textcenter Productos
     table.ui.celled.table
      thead
       tr
        th Nombre  
        th Descripci贸n
      tbody#productlist     

 
  div.ui.bottom.attached.tab.segment(data-tab="third")
    div.ui.segment
     h1.textcenter Anuncios
     if owner
      form.ui.form(id="updates" method="post")

       button.fluid.ui.button.green(type="submit") Publicar 


  div.ui.bottom.attached.tab.segment(data-tab="fourth")  
    div.ui.segment
     h2.textcenter M谩s informaci贸n 