

extends layout
 
block content
  style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

     }



  div.ui.container
  
   div.ui.segment
     h1.textcenter Contáctanos   
     form.ui.form(id="contactform", method="post", action="")
      label(for="contactname") Nombre 
      input(type="text"  name="contactname" id="contactname")  
