

extends layout
 
block content
  style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

     }


     #content{padding-bottom:200px;
                min-height:800px;
                padding-top:50px} 



  div.ui.container
   div.ui.text.container 
    div.ui.segment
      h1.textcenter Contáctanos   
      form.ui.form(id="contactform", method="post", action="")
       label(for="contactname") Nombre 
       input(type="text"  name="contactname" id="contactname")  
       label(for="contactemail") Correo electrónico
       input(type="text" name="contactemail" id="contactemail")
       label(for="contactphone") Teléfono
       input(type="text" name="contactphone" id="contactphone")
       button.ui.button.green(type="submit") Guardar 

