

extends layout
 
block content
  style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

     }



  div.ui.container
   h1.textcenter FAQ 🙋
   h4.textcenter  1.- ¿ Qué es Cluster.IO  ?
   h4.textcenter    Cluster.io  es una plataforma de Interacción  entre: empresas B2B, Cámaras y Asociaciones Empresariales , Dependencias y Oficinas de Gobierno  relacionadas al secctor económico e Instituciones de Educación Superior  en toda Latino América, con el objetivo de
   h4.textcenter 2.- Tiene un costo  estar en la red de Cluster.IO?
   h4.textcenter Darse en el directorio, tener un perfil y  acceder a la mayoría de foros no tiene costo, las funciones adicionales si lo tienen.
