


extends layout
 
block content
 
 script(src='/javascripts/posts.js')
 

 style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }

     p{

      word-wrap: break-word;      

     }




     #content{padding-bottom:200px;
                min-height:800px;
                padding-top:29px} 



     #mainoptions{
     z-index:30;
     }

 
    .imageuser{
     
      height:40px;
      width: 40px;
      border-radius: 50%;
     
     }

     #selection{

      width:100%;

    }

     .button {

     }






 
 div.ui.container
  	
 div.ui.segment#mainoptions
  h1.textcenter Posts ✏️
  form.ui.form(name="posts" id="posts" method='GET')
   div.ui.two.column.stackable.grid
    div.column
     div.ui.selection.dropdown#selection
       input(type="hidden" name="tema" id="tema" placeholder="tema")
       i.dropdown.icon
       div.default.text General

       div.menu     
        div.item(data-value="metalmecanica") Industria Metalmecánica
        div.item(data-value="automotriz") Industria Automotríz

    div.column  
       button.ui.button#date Por fecha
       button.ui.green.button#rate Por relevancia
  

 div.ui.doubling.stackable.container
   div.ui.three.column.doubing.stackable.grid
    div.three.wide.column
    div.ten.wide.column#results
    div.three.wide.column 	

