


extends layout
 
block content
 
 script( id="owner"  data-user =`${email}`  src='/javascripts/posts.js')


 style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h2, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }

     p{

      word-wrap: break-word;      

     }




     #content{padding-bottom:200px;
                min-height:800px;
                padding-top:29px} 



     #mainoptions{
     z-index:30;
     }

 
    .imageuser{
     
      height:40px;
      width: 40px;
      border-radius: 50%;
     
     }

     #selection{

      width:100%;

    }

     .button {

     }






 
 div.ui.container
  	
 div.ui.segment#mainoptions
   div.ui.stackable.grid 
    
    div.ui.four.wide.column
      h1 Posts ✏️  
    div.ui.four.wide.column
     form.ui.form(name="posts" id="posts" method='GET')
      div.ui.selection.dropdown#selection
       input(type="hidden" name="tema" id="tema" placeholder="tema")
       i.dropdown.icon
       div.default.text General

       div.menu     
        div.item(data-value="metalmecanica") Industria Metalmecánica
        div.item(data-value="automotriz") Industria Automotríz
    
    div.ui.four.wide.column

      button.ui.button#date Por fecha
    div.ui.four.wide.column  
      button.ui.green.button#rate Por relevancia
  


 div.ui.three.column.doubing.stackable.grid
  div.three.wide.column
   div.ui.segment
  div.ten.wide.column#results 
  div.three.wide.column 	

