


extends layout
 
block content
 
 script(src='/javascripts/posts.js')
 style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }

     #content{height:900px} 
 


    #selection{

      width:100%;

    }


 
 div.ui.container
  h1.textcenter Posts ✏️	
 div.ui.segment
  form.ui.form(name="posts" id="posts")
   div.ui.two.column.stackable.grid
    div.column
     div.ui.selection.dropdown#selection
       input(type="hidden" name="tema" id="tema" placeholder="tema")
       i.dropdown.icon
       div.default.text General

       div.menu     
        div.item(data-value="metalmecanica") Industria Metalmecánica
        div.item(data-value="automotriz") Industria Automotríz

    div.column  
      a.sort(href='/' class="button ui orange") Por fecha
      a.sort(href='/' class="button ui orange") Por relevancia
 

 div.ui.doubling.stackable.container
   div.ui.three.column.doubing.stackable.grid
    div.three.wide.column
    div.ten.wide.column#results
    div.three.wide.column 	
