
extends layout
 
block content
 
 style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }
   
     a{color:white;} 

     #content{ padding-bottom:200px;
                min-height:800px;
                padding-top:29px} 

    #main{
       width:100%;
       height:700px;

       background-image: url("/images/machines.jpg");
       background-size:cover;;
    } 

    #clusterio{
     color:white;
     font-size:80px;
     padding-top:10%;}


 div.container

  
  div#main
   h1.textcenter#clusterio Cluster.IO
  



  div.ui.inverted.vertical.footer.segment
   div.ui.container
    div.ui.stackable.inverted.divided.equal.height.stackable.grid 	
     div.ui.three.wide.column
      h3.inverted.header.textcenter 
       a(href="/nosotros") Nosotros	
     div.ui.three.wide.column 
      h3.inverted.header.textcenter 
       a(href="/faq") FAQ
     div.ui.three.wide.column
      h3.inverted.header.textcenter 
       a(href="/contacto") Contacto	   
     div.ui.seven.wide.column 
      h3.inverted.header.textcenter Redes Sociales