
extends layout
 
block content
 
 style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }
   
     #content{height:900px} 
     a{color:white;} 

 div.container
  div.ui.inverted.vertical.mastead.center.aligned.segment
    h1 Cluster.io 🚀
    

  div.ui.vertical.stripe.segment

  div.ui.inverted.vertical.footer.segment
   div.ui.container
    div.ui.stackable.inverted.divided.equal.height.stackable.grid 	
     div.ui.three.wide.column
      h3.inverted.header 
       a(href="/nosotros") Nosotros	
     div.ui.three.wide.column 
      h3.inverted.header 
       a(href="/faq") FAQ
     div.ui.three.wide.column
      h3.inverted.header 
       a(href="/contacto") Contacto	   
     div.ui.seven.wide.column 
      h3.inverted.header.textcenter Redes Sociales