
extends layout
 
block content
 
 style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }

 div.container
  div.ui.inverted.vertical.mastead.center.aligned.segment
    h1 Clusterio
    

  div.ui.vertical.stripe.segment

  div.ui.inverted.vertical.footer.segment
   div.ui.container
    div.ui.stackable.inverted.divided.equal.height.stackable.grid 	
     div.ui.three.wide.column
      h3.inverted.header Acerca de Nosotros	
     div.ui.three.wide.column 
      h3.inverted.header Acerca de Nosotros	
     div.ui.three.wide.column
      h3.inverted.header Acerca de Nosotros	   
     div.ui.seven.wide.column 
      h3.inverted.header.textcenter Redes Sociales