
block variables
doctype html
html
  head
   title Cluster.io 
   meta(charset='UTF-8') 
   meta(name='viewport' content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1") 
   link(rel="stylesheet"  href="/stylesheets/style.css")
   link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito") 
   link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css")
   link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous")   

   script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js') 
    
   script(src='/javascripts/jquery.js')
    

  
   


   script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js")
   
  

    

   script( src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
     crossorigin="anonymous")

  script.
    
  style.

     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, menu, .ui.button {
    
    font-family: 'Nunito', sans-serif; 

     }

   

    
   #footer{
  
   width:100%;
   position: fixed;
   bottom: 0;
    
   }

   #imageprofile{
 
      height:40px;
      width: 40px;
      padding:0;
      border-radius: 50%;



   }

   #img{
    padding:auto;
    border-radius:50%;
    max-width: 2.5em;
    max-height: 2.5em;
    display: block; /* remove extra space below image */
     
     border-style:solid;
     border-color: white;
     border-width:2px;
    }


     #signup{
      padding-top: 4px;
      padding-bottom:auto;
     }



  body#pusher
   

   div.ui.fixed.large.inverted.menu#menuu
  
    - var  url 

     a.toc.item
      i.sidebar.icon
     a.active.item(href="/") Cluster.iO
     a.item(href="/search") Buscador
     a.item(href="/avisos") Avisos 
     a.item(href="/posts") Clústers
    div.right.menu
  
      div#imageprofile 
        img#img(src = `${image} ` )

    if logged    
      div.ui.dropdown.item#test #{name}

       i.dropdown.icon
       div.menu
        a.item(href="/users/profile") Profile
        a.item(href="/users/profile/settings") Settings ⚙️
        a.item(href="/users/logout") Logout 
          i.fas.fa-power-off 

    else
      item#signup   
        a(href="/users/login" class=" ui inverted green button") Sign Up 

      



   div.ui.vertical.inverted.sidebar.menu
     a.item(href="/")  Cluster.IO
     a.item(href="/search") Directorio ☎️
     a.item(href="/posts") Clústers 

   

   
   div#content
    block content

   

