

extends layout
 
block content
 
 script(src='/javascripts/posts.js')
 style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }

      #content{padding-bottom:200px;
                min-height:500px;}


 div.ui.container

  h1.textcenter Avisos 💡
  div.ui.segment


    