

extends layout
 
block content
 
 script(src='/javascripts/opportunities.js')
 style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }

      #content{padding-bottom:200px;
                min-height:800px;
                padding-top:29px}
     
      .drops{ display:block;
              margin-left:25%;
              margin-right:auto;}



 
 div.ui.segment
   h1.textcenter Avisos 💡
   div.ui.stackable.grid
    div.eight.wide.column
     
     div.ui.selection.dropdown.drops#category
      input(type="hidden" name="tema" id="tema" placeholder="tema")
      i.dropdown.icon
      div.default.text General

      div.menu     
       div.item(data-value="metalmecanica") Industria Metalmecánica
       div.item(data-value="automotriz") Industria Automotríz 
      
    div.eight.wide.column
     div.ui.selection.dropdown.drops#mode
      input(type="hidden" name="tipo" id="tipo" placeholder="tema")
      i.dropdown.icon
      div.default.text General

      div.menu     
       div.item(data-value="busca") Busco
       div.item(data-value="ofrece")  Ofrezco
  
  
 div.ui.grid
  div.three.wide.column
  div.ten.wide.column#principal
  div.three.wide.column  