

extends layout
 
block content
 
 style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }

 div.ui.container
  h1.textcenter Registra una Organizaci칩n	
  div.ui.segment
    form.ui.form(id="orgregistar")
     label(for="orgname") Nombre de la Organizaci칩n
     input(type="text" id="orgname" name="orgname")
  
     div.field    

     div.ui.selection.dropdown
      input(type="hidden" name="tipo" id="tipo" placeholder="tipo")
      i.dropdown.icon
      div.default.text tipo de organizaci칩n
      
      div.menu     
        div.item(data-value="camara") C치mara
        div.item(datavalue="dependencia") Dependencia Gubernamental


     div.field    

     div.ui.selection.dropdown
      input(type="hidden" name="tipo" id="tipo" placeholder="tipo")
      i.dropdown.icon
      div.default.text industria
      
      div.menu     
       div.item(data-value="camara") Nacional
       div.item(datavalue="dependencia") Estatal
     
     div.field

     button.ui.button.green(type="submit") Guardar    
  