
extends layout

block variables

block content

 script( id="searcher"  data-search=`${query}` data-place =`${place}`  src='/javascripts/search.js')   

 
 


 style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, .ui.button{
    
    font-family: 'Nunito', sans-serif; 

    }
    
     #content{padding-bottom:400px;} 



   #qduery{
    position: fixed; 
   }
 

 

 div.ui.segment#query   
  h1.textcenter#querytitle Resultados

  

   

    form.ui.form( method="get" action="" id="searchengine")
     div.ui.doubling.stackable.grid
      div.eight.wide.column
       label(for="searchunit") Producto , empresa ó industria 	
       input(type="text" name="searchunit" id="searchunit") 
      div.three.wide.column
       label(for="place") País, Estado ó Ciudad	
       input(type="text" name="place" id="place" ) 
      div.three.wide.column 
     
      
        
       
      div.two.wide.column 

        br
        button.fluid.ui.inverted.red.button(type="submit") Enviar	

   
 div.ui.internally.divide.grid
      div.three.wide.column
      div.ten.wide.column#results
      	
      