


extends layout
 
block content
 
 style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }


   

 div.ui.grid
  div.one.wide.column
  div.eleven.wide.column
   div.ui.segment
    h3 #{post.contenido}   
  div.four.wide.column   