extends layout
block variables
block content 
 style.
   @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

    body .fonts {
    
    font-family: 'Nunito', sans-serif; 

    }
 
  

 script(src='/javascripts/jquery-profile.js') 	

 div.ui.container
   
   
  
  div.ui.internally.divide.grid
   div.two.wide.column
 

   div.twelve.wide.column
    div.ui.segment
     div.ui.stackable.top.attached.tabular.menu
      a.item.active(data-tab="first") Post
      a.item(data-tab="second") Anuncios
      a.item(data-tab="third") 

     div.ui.bottom.attached.tab.segment.active(data-tab="first") 
      h2.textcenter Posts
      form.ui.form(id="userpost")
       textarea(type="text" name="posting" id="posting" ) 
       select.ui.dropdown(name="postcategory" id="postcategory")
               option(value="Plástico") Plástico 
               option(value="automotriz") Automotríz
               option(value="agroindustria") Agroindustria
               option(value="alimenticia-bebidas-tabaco") Alimenticia, Bebidas y Tabaco
       br
       br
       button.ui.button.green(type="submit") Guardar  

     div.ui.bottom.attached.tab.segment(data-tab="second")
      h2.textcenter Anuncios
     div.ui.bottom.attached.tab.segment(data-tab="third")   
     	
   div.three.wide.column
    