extends layout
block variables

  

block content

 script(src='/javascripts/jquery-profile.js') 
  
 
 style.
   h1 , h2 {
 
      text-align:center;

   }	

    #content{padding-bottom:200px;
                min-height:500px;
                padding-top:29px}

    #botonx{margin-left:35%;
             margin-right:35%;
             width:30%;}
  

 div.ui.progress#example
  div.bar
   div.progress    

 div.ui.container
 
  div.ui.segment

   div.ui.text.container#userdata

  

    h2.textcenter  #{user.username}
    h2.textcenter #{user.google.email} 
  


 
 

  div.ui.segment
 
     div.ui.segment   	
      h2 Modificación de nombre de usuario
      form.ui.form(id="usern-change" , method="post")
        
         label(for="newusername") Usuario
         input(type="text", name="newusername",  placeholder="Agrega nombre de usuario" value=`${user.username}`,id="newusername")
   
   
         div.ui.field
             br  
             button.fluid.ui.inverted.green.button#botonx(type="submit") Guardar     
    

  
         

     
  div.ui.segment  
    h2.textcenter Configura  el sitio de tu Organización

    div.ui.segment  
     h2.textcenter #{unit.nombre}
     div.ui.field

    if unit.industria 
      div.ui.two.column.stackable.grid
       div.ui.column  
        a(href="/company/profile/" + unit._id      class="button fluid ui  secondary  inverted  button")  Ver Sitio
       div.ui.column 
        a(href="/company/settings/profile/" + unit._id      class="button fluid ui  secondary inverted button")  Editar 
     
    if unit.tipo 
      div.ui.two.column.stackable.grid
       div.ui.column  
        a(href="/organization/profile/" + unit._id    class="button fluid ui secondary inverted button")  Ver Sitio
       div.ui.column 
        a(href="/organization/settings/profile/" + unit._id     class="button fluid ui secondary inverted button")  Editar  




