extends layout
 
block content
 
 


 script( id="owner"  data-user =`${email}`  src='/javascripts/user-posts.js')   
 
 style.
     @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h3, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }
 
    #content{padding-bottom:200px;}

    #submenu{ }

      .button.center{
      margin-left:20%;
      margin-right: auto;
      width: 60%;
    }



 div.ui.segment#submenu
  div.ui.two.column.stackable.centered.grid
   div.column
     a.bcenter(href="/users/profile/posts" class="button ui inverted secondary button center  ") Publicaciones
   div.column
     a.bcenter(href="/users/profile/ads" class="button ui inverted secondary button center  ") Oportunidades
 div.ui.container.centeritem
  h1.textcenter Posts   

   div.three.wide.column
   div.ten.wide.column#principal
    div.ui.segment
      form.ui.form( id="postform" method="post" action="/")
       input(type="text"  id="title" name="title"  placeholder="Título" )
       div.ui.field
       textarea(type="text" id="contenido" name="contenido" placeholder="Contenido")
       div.ui.field
       div.ui.two.column.stackable.grid
        div.column
          button.ui.button.green(type="submit") Enviar 
        div.column
         div.ui.selection.dropdown
          input(type="hidden" id="categoria" name="categoria")
          i.dropdown.icon
          div.default.text Tema
          div.menu          	
           div.item(data-value="metalmecanica") Industria Metalmecánica
           div.item(data-value="automotriz") Industria Automotríz
     
       div.three.wide.colum
