
extends layout


block content
 style.
  @import url('https://fonts.googleapis.com/css?family=quicksand&display=swap');
 


     h1,h2{
     font-family: 'nunito';
   } 
 
     #principal{height:500px;} 

 
 h1.textcenter #[strong Registrate ] 
 div.ui.container#principal
  
  
   

  
    
  
  
   div.ui.grid
    div.four.wide.column
    div.eight.wide.column 
     div.ui.segment 
      a(href='/users/auth/google' class="fluid ui inverted red button") Google 
      
      br
      br 
        
      a(href='/users/auth/facebook' class="fluid ui inverted blue button") Facebook