extends layout
block variables
block content 


  script.
  style.
       @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h2, h3, h4, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }

 
    #content{
   padding-top:43px;
   padding-left:0;
   padding-right:0;  
   background-color:#eeeeee;
   height:900px;
    }
 
   #submenu{
    background-color:white;
    height:45px;
    width:100%;
    border-style:solid;
    border-color:gray;
    border-width:1px;

    }

    .options{

     display: inline-block;
     height:100%;  
     width:50%;

     
    }

 
    .fa, .fas, .far{
     margin-left: 50%;
     margin-bottom:50%;
    }
     
  

  script(src='/javascripts/jquery-profile.js') 

 
  
  div.topnavbar#submenu  
   div.options
     a(href="/users/profile/posts") 
      i.far.fa-comment.fa-3x 
      
   div.options
     a(href="/users/profile/ads") 
      i.fas.fa-ad.fa-3x

  
