extends layout
block content

 style.
   h1#title {
   text-align: center;
   }
   
   #content{padding-bottom:300px;}  
	
 h1#title REGISTRO DE USUARIO
 div.ui.container
  div.ui.segment

   form.ui.form(id="registerusernamex", method="post", action="/users/register")
      
       div.field
            label(for="username") Escribe tu nombre completo
            input(type="text"  name="username" id="username")
           
       div.ui.field
           div.ui.selection.dropdown
            input(type="hidden" name="rol" id="rol" placeholder="Rol")
            i.dropdown.icon
            div.default.text Rol
            div.menu

             div.item(data-value="company") Empleado ó parte de un equipo de una empresa
             div.item(data-value="org") Parte del equipo de trabajo de una Depedencia, Cámara ó Asociación
             div.item(data-value="univ") Parte del equipo de trabajo del área de vinculación de una Universidad

       div.ui.field
     

       div.ui.field
          button.ui.secondary.basic.button(type="submit") Guardar  
