extends layout
block variables

  

block content

 script(src='/javascripts/jquery-profile.js') 
  
 
 style.
   h1 , h2 {
 
      text-align:center;
    
   }	

 div.ui.container
  div.ui.segment


  

   h1#profileuser
   h1#profileusermail
   h1#profileuserrol 


 
 

  div.ui.segment
 
     div.ui.segment   	
      h2 Modificación de nombre de usuario
      form.ui.form(id="usern-change" , method="post")
        
         label(for="newusername") Usuario
         input(type="text", name="newusername",  placeholder="Agrega nombre de usuario" value=`${user.username}`,id="newusername")
   
   
         div.ui.field
         button.ui.button.green#botonx(type="submit") Guardar

     
  div.ui.segment  
    h2.textcenter Configura  el sitio de tu Organización

    div.ui.segment  
     h2.textcenter #{unit.nombre}
     div.ui.field

    if unit.industria 
      div.ui.two.column.stackable.grid
       div.ui.column  
        a(href="/company/profile/" + unit._id      class="button ui blue button")  Ver Sitio
       div.ui.column 
        a(href="/company/settings/profile/" + unit._id      class="button ui orange button")  Editar 
     
    if unit.tipo 
      div.ui.two.column.stackable.grid
       div.ui.column  
        a(href="/organization/profile/" + unit._id      class="button ui blue button")  Ver Sitio
       div.ui.column 
        a(href="/organization/settings/profile/" + unit._id     class="button ui orange button")  Editar  




