extends layout
block variables
block content 


  script.
  style.
       @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h2, h3, h4, p , a, button{
    
    font-family: 'Nunito', sans-serif; 

    }

 
    #content{
    padding-bottom:200px;
    min-height:800px;
    padding-top:29px;
    }
 
   

    .options{

     display: inline-block;
     height:100%;  
     width:50%;

     
    }

 
 
     
     .button.center{
      margin-left:20%;
      margin-right: auto;
      width: 60%;
    }
 
  

  script(src='/javascripts/jquery-profile.js') 

 
 
  div.ui.segment#submenu
    div.ui.two.column.stackable.centered.grid
     div.column
      a(href="/users/profile/posts" class="button ui inverted secondary button center  ") Publicaciones 📌
     div.column
      a(href="/users/profile/ads" class="button ui inverted secondary button center  ") Oportunidades 📰

  h1.textcenter Mensajes 📧


