


 style.

  


body {
  padding: 50px;
  height: :1150px;
  backgound-color:#eeeeee; 
  

}



#footer{
	width:100%;
	background-color:black;
	height:6em;
}


#content{
  padding-top:50px;
  padding-left:5px;
  padding-right:5px;   
  background-color:#eeeeee;
  height:100%;
 }


#main{

height:100%;

}





.textcenter{

	text-align:center;
}



.large.inverted.menu .toc.item {
      display: none;
    }   



  @media only screen and (max-width: 700px) { 

   .ui.large.inverted.menu .toc.item {
      display: block;
    } 

     
    .ui.dropdown.item#test{
    	display:block;
    }


   .ui.large.inverted.menu .active.item {
   	display:none;
   } 
   
    .ui.large.inverted.menu .item{
   	display:none;
   }

  }	