


 style.

  


body {
  padding: 50px;
  height: :1150px;
  

}

#content{
	padding-top: 50px;
	padding-bottom :50px;
}

#footer{
	width:100%;
	background-color:black;
	height:3em;
}


#main{

height:100%;

}

.textcenter{

	text-align:center;
}